* {
    padding: 0;
    margin: 0;

}

.all {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
}

.sky img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.grass img {
    z-index: 2;
    /*grass*/
    position: absolute;
    height: 12vh;
    bottom: 0px;
    width: 100vw;
    object-fit: cover;
}

.ct img {
    z-index: 3;
    position: absolute;
    width: 40vw;
    height: 80vh;
    bottom: 11.5vh;
    left: 1px;
    object-fit: cover;

}

.cloud1 img {
    z-index: 3;
    position: absolute;
    width: 22vw;
    height: 22vh;
    top: 17vh;
    left: 67vw;
}

.cactus1 img {
    z-index: 4;
    position: absolute;
    width: 22vw;
    height: 22vh;
    bottom: 12vh;
    left: 60vw;
}

.cactus2 img {
    z-index: 4;
    position: absolute;
    width: 22vw;
    height: 22vh;
    bottom: 12vh;
    left: 50vw;
}

#walk {
    position: absolute;
    z-index: 10;
    left: 1vw;
    bottom: 11.5vh;
}

#static img {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 0px;
}

#walk1,
#walk2 {
    position: relative;
    z-index: 5;
    top: 0px;
    left: 0px;

}

#bricks1,
#bricks2,
#bricks3,
#bricks4 {
    position: absolute;
    z-index: 6;
    bottom: 40vh;
    /* left: 25vw; */
    height: 10vh;
    width: 15vw;
}

#bricks1 {
    left: 7vw;
}

#bricks2 {
    left: 30vw;
}

#bricks3 {
    left: 53vw;
}

#bricks4 {
    left: 76vw;
}

#brickpopped {
    display: none;
}

#icon1 img{
    height: 18vh;
    width: 6vw;
    bottom: -3vh;
    position: absolute;
    left: 6vw;
    z-index: 15;
}

#icon2 img{
    height: 23vh;
    width: 7vw;
    bottom: -5vh;
    position: absolute;
    left: 6vw;
    z-index: 15;
}

#icon3 img{
    height: 31vh;
    width: 8.5vw;
    bottom: -8.5vh;
    position: absolute;
    left: 5vw;
    z-index: 15;
}

#icon4 img{
    height: 20vh;
    width: 5vw;
    bottom: -3vh;
    position: absolute;
    left: 7vw;
    z-index: 15;
}
.jump {
    animation: jump 0.5s
}

.iconjump{
    animation: iconjump 0.5s;
}

.walkhidden {
    display: none;
}

.seeleft {
    transform: scaleX(-1);
}

.seeright {
    transform: scaleX(1);
}

#popupfront {
    position: absolute;
    z-index: 70;
    top: 10vh;
    left: 25vw;
    height: 100vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;
}

#popupfront img {
    width: 60vw;
}

#popupback {
    position: absolute;
    z-index: 70;
    top: 10vh;
    left: 25vw;
    height: 100vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;

}

#popupback img {
    width: 60vw;
}

#popupvideo {
    position: absolute;
    z-index: 70;
    top: 10vh;
    left: 25vw;
    height: 100vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;

}

#popupvideo img {
    width: 60vw;
}

#popupdesign {
    position: absolute;
    z-index: 70;
    top: 10vh;
    left: 25vw;
    height: 100vh;
    width: 60vw;
    scale: 0;
    transition: 1s ease;

}

#popupdesign img {
    width: 60vw;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes iconjump{
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}